@model KjosAssignment5.Models.SongGenreViewModel
@{
    ViewData["Title"] = "Browse Music";
}

<h1 class="display-4">Browse Music</h1>
<form asp-controller="Songs" asp-action="Index" method="get">
    <p>
        Genre: <select asp-for="SongGenre" asp-items="Model.Genres" onchange="SubmitEvent">
            <option value="">All</option>
        </select>
        Artist: <select asp-for="SongArtist" asp-items="Model.Artists">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Songs![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Songs![0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Songs![0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Songs![0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Songs![0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Songs!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>